<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio | Adm</title>
    <link rel="stylesheet" href="../static/css/admin.css">

</head>

<body>
    <a href="/back_index">Voltar</a>

    <h1>Olá, você chegou :)</h1>



    {% if projeto == "" %}
    <form action='/new' method="POST">
        <h1>Cadastre um novo projeto</h1>
        {% else %}
        <form action="/edit/{{projeto.id}}" method="POST">
            <h1>Atualize o projeto</h1>
            {% endif %}


            <label for="nome">Nome</label>
            <input type="text" placeholder="Nome do projeto" id="nome" name="nome" value='{{projeto.nome}}'>

            <label for="imagem">Imagem</label>
            <input type="text" placeholder="Link da imagem" id="imagem" name="imagem" value="{{projeto.imagem}}">

            <label for="link">Link</label>
            <input type="text" placeholder="Link do projeto" id="link" name="link" value="{{projeto.link}}">

            <label for="descricao">Descrição</label>
            <textarea name="descricao" id="descricao" cols="30" rows="10"
                placeholder="Digite a descrição do projeto">{{projeto.descricao}}</textarea>


            {%if projeto == ''%}
            <button type="submit">Enviar</button>
            {%else %}
            <button type="submit">Atuliazar</button>
            {% endif %}

        </form>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}





        <table>

            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Imagem</th>
                    <th>Link</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
            </thead>
            s
            <tbody>
                {%for p in projetos%}
                <tr>
                    <td>{{p.id}}</td>
                    <td>{{p.nome}}</td>
                    <td>{{p.imagem}}</td>
                    <td>{{p.link}}</td>
                    <td>{{p.descricao}}</td>
                    <td><a href="/{{p.id}}">Apagar</a></td>
                    <td><a href="/edit/{{p.id}}">Editar</a></td>


                </tr>
                {%endfor%}



            </tbody>

        </table>

        {%if projeto_del != undefined %}
        <section class='modal'>
            <div id='card'>
                <a href="/admin" id='fechar'>Fechar</a>
            </div>

            <h2>Confirmação</h2>
            <hr>
            <p>Deseja realmente apagar o projeto ?: {{projeto_del.nome}}</p>

            <div id='buttons'>

                <a href="/admin">Cancelar</a>
                <a href="/delete/{{projeto_del.id}}">Apagar</a>

            </div>



        </section>

        {% endif %}

        <script src="../static/js/admin.js"></script>
</body>

</html>